 .u-section-1 {
  min-height: 845px;
}

.u-section-1 .u-countdown-1 {
  background-image: none;
  margin: 607px auto 60px;
  padding: 10px 30px 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  text-shadow: 0 2px 8px rgba(0,0,0,1);
}

.u-section-1 .u-countdown-label-6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-countdown-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-countdown-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-countdown-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .embed-responsive-1 {
    width: 198%;
    left: -49%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-countdown-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .embed-responsive-1 {
    width: 314%;
    left: -107%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 574px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 97px auto 0;
}

.u-section-2 .u-text-2 {
  width: 774px;
  margin: 30px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 40px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 217px;
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-2 .u-text-3 {
  margin: 79px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: -108px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 71px 0 0;
}

.u-section-2 .u-list-item-2 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-2 .u-text-5 {
  margin: 79px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: -108px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 71px 0 0;
}

.u-section-2 .u-list-item-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 30px;
}

.u-section-2 .u-text-7 {
  margin: 79px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: -108px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 71px 0 0;
}

.u-section-2 .u-list-item-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-4 {
  padding: 7px 30px;
}

.u-section-2 .u-text-9 {
  margin: 79px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: -108px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 71px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 179px;
  }

  .u-section-2 .u-list-item-1 {
    transition-duration: 1.75s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-2 {
    transition-duration: 1.75s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-3 {
    transition-duration: 1.75s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-4 {
    transition-duration: 1.75s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
    min-height: 491px;
    grid-gap: 31px 31px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -22px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 600px;
  width: 1190px;
  margin: 13px -25px 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 22px 22px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-1 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-2 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-3 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-4 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-4 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-5 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-5 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-6 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-6 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-7 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-7 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 0;
  --effect-scale: 0.75;
  box-shadow: 4px 7px 8px 4px rgba(128,128,128,0.4);
}

.u-section-3 .u-back-slide-8 {
  transition-duration: 5.75s;
}

.u-section-3 .u-back-image-8 {
  width: calc(100% + 3px);
  left: -3px;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    height: 474px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }

  .u-section-3 .u-back-image-4 {
    width: auto;
  }

  .u-section-3 .u-back-image-5 {
    width: auto;
  }

  .u-section-3 .u-back-image-6 {
    width: auto;
  }

  .u-section-3 .u-back-image-7 {
    width: auto;
  }

  .u-section-3 .u-back-image-8 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    height: 726px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    height: 2178px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    height: 1371px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 595px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 102px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 39.6px;
  text-transform: none;
  font-weight: 400;
  margin: 0 -16px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 321px;
  background-image: url("images/map-carte-oran-map-2022-1280-1024x1024.webp");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-4 .u-layout-cell-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-4 .u-container-layout-3 {
  padding: 11px 0 12px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 109px auto 0 48px;
}

.u-section-4 .u-text-3 {
  margin: 11px 60px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 60px auto 0 48px;
}

.u-section-4 .u-text-5 {
  margin: 11px 60px 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 265px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 349px;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-4 .u-image-1 {
    min-height: 397px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 250px;
  }
}

.u-section-4 .u-layout-cell-3,
.u-section-4 .u-layout-cell-3:before,
.u-section-4 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-layout-cell-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}